<sb-layout-dashboard>
    <sb-card>
        <div class="card-header" align="center">
            <i class="fa fa-address-book" aria-hidden="true"></i> Danh Sách Quê Quán
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-7">
                    <button (click)="show()" type="button" class="btn btn-success"><i class="fa fa-plus-circle"
                        aria-hidden="true"></i>Thêm Mới</button>
                </div>
                <div class="col-xl-5">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control" placeholder="Search" [(ngModel)]="searchedKeyword" aria-describedby="helpId">
                      </div>      
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped table-bordered table-sm row-border hover" id="table-employees">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <!-- <th>Image</th> -->
                            <th>Tên Quê
                            </th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                        <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                            <p style="color: white">Please Wait. </p>  
                            </ngx-spinner>  -->
                        <tr *ngFor="let item of listQue | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchedKeyword">
                            <td>{{item.maQue}}</td>
                            <!-- <td><img src="{{blog.image}}" class="col-md-3"></td> -->
                            <td>{{item.tenQue}}</td>
                            <td>
                                <button *ngIf="item.trangThai === 'True'" (click)="updateStatus(item)" type="button"
                                    class="btn btn-success"> <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    Active</button>
                                <button *ngIf="item.trangThai === 'False'" type="button" (click)="updateStatus(item)"
                                    class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i>
                                    Deactive</button>
                            </td>
                            <td class="action" align="center">
                                <button type="button" (click)="showDetail(item)" class="action1 btn btn-primary"><i
                                        class="fa fa-eye" aria-hidden="true"></i>Detail</button>
                                <button type="button" class="action1 btn btn-warning" (click)="editHomeTown(item)"><i
                                        class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
                                <button type="button" class="action1 btn btn-danger"
                                    (click)="deleteHometown(item.maQue)"><i class="fa fa-window-close"
                                        aria-hidden="true"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <span *ngIf="!subscription?.closed">loading...</span> -->
                </table>
                <div class="col-12 justify-content-center">
                    <ngb-pagination [ellipses] = "true" [rotate]="true" [boundaryLinks]="true" [(page)]="page" [pageSize]="pageSize" [collectionSize]="listQue.length">
                    </ngb-pagination>
                  </div>
                  <!-- <div class="form-group">
                    <select class="form-control" (change)="change($event.target.value)" name="" id="">
                        <option selected value="5">Choose item in page</option>
                      <option value="2">2 item in page</option>
                      <option value="4">4 item in page</option>
                      <option value="6">6 item in page</option>
                    </select>
                  </div> -->
            </div>
            <sb-edit-hometown (uploaded)="ngOnInit()"></sb-edit-hometown>
            <sb-add-hometown (uploaded)="ngOnInit()"></sb-add-hometown>
            <sb-delete-hometown (uploaded)="ngOnInit()"></sb-delete-hometown>
            <sb-home-detail></sb-home-detail>
            <sb-status-edit (uploaded)="ngOnInit()"></sb-status-edit>
        </div>
    </sb-card>
</sb-layout-dashboard>