<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Infomation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group" [formGroup]="formShow">
          <div class="form-group" hidden>
            <label for="maNhanVien">Mã Quê</label>
            <input type="text" name="" class="form-control" formControlName="maQue" id="maNhanVien">
          </div>
          <div class="form-group">
            <label for="tenNhanVien">Tên Quê</label>
            <input type="text" name="" class="form-control" formControlName="tenQue" id="tenNhanVien">
          </div>
          <div class="form-group">
            <label for="gioiTinh">Status</label>
            <select class="form-control" formControlName="status" name="" id="gioiTinh">
              <option value="True">True</option>
              <option value="False">False</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')" ><i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>
    </div>
  </ng-template>
  